<!-- <div id="sidebar-wrapper">	
			<div class="sidebar-nav">
				<li><div id="profileName">
						<img align="middle" class="img-rounded" src="images/icson.jpg" onError="this.src='images/placeholder.png';"> </img>
					</div>
					<a id="sidebarName"> Cheese Corn</a>
				</li><hr>
				<li><a href="homepage">Home</a></li>
				<li><a href="friends">Your Friends</a></li>
				<li><a href="gallery">Your Photos</a></li>
				<li><a href="viewGroups">Your Groups</a></li>
				<li><a href="upcomingEvents">Upcoming Events</a></li>
				<a href="#menu-toggle" id="menu2-toggle"> <button id="backButton" type="button" class="btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
					</span> Back</button></a>
				<a href="index"> <button id="logoutButton" type="button" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true">
					</span> Log Out</button></a>
			</div>
		</div> -->

<div class="bigdropdown">
	<div class="dropdown">
	  <a class="dropbtn"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Menu </a>
	  <div id="myDropdown" class="dropdown-content">
	    <a href="homepage">Home</a><hr>
		<a href="friends">Your Friends</a><hr>
		<a href="gallery">Your Photos</a><hr>
		<a href="viewGroups">Your Groups</a><hr>
		<a href="upcomingEvents">Upcoming Events</a><br>
		<a href="/">Log Out</a><br>
	  </div>
	</div>
</div>