<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navTitle" class="navbar-brand" href="/homepage">Hangouts R Us</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navList nav navbar-nav">
        <li><a href="/gallery"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Story</a></li>
        <li><a href="/viewGroups"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Groups</a></li>
        <li><a href="/upcomingEvents"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Events</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out</a> </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- <div class="bigdropdown">
	<div class="dropdown">
	  <a class="dropbtn"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Menu </a>
	  <div id="myDropdown" class="dropdown-content">
	    <a href="/homepage"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a><hr>
		<a href="/gallery"><span class="glyphicon glyphicon-picture story" aria-hidden="true"></span> Story</a><hr>
		<a href="/viewGroups"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Groups</a><hr>
		<a href="/upcomingEvents"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Events</a><hr>
		<a href="/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out</a><hr>
	  </div>
	</div>
</div> -->