

<div class="bigdropdown">
	<div class="dropdown">
	  <a class="dropbtn"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Menu </a>
	  <div id="myDropdown" class="dropdown-content">
	    <a href="/homepage">Home</a><hr>
		<a href="/friends">Your Friends</a><hr>
		<a href="/gallery">Your Photos</a><hr>
		<a href="/viewGroups">Your Groups</a><hr>
		<a href="/upcomingEvents">Your Events</a><br>
		<a href="/">Log Out</a><br>
	  </div>
	</div>
</div>