<!doctype html>

<html>
<head>
	<title>hangouts R us - Friends</title>	

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
 	<link href="css/style.css" rel="stylesheet">
	<link href="css/dropdown.css" rel="stylesheet">
	<link href="css/groups.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1>Your Friends</h1>
			<p>oh look! you have friends!</p>
		</div>
		{{> dropdownPartial}}
	</div>

	<div class="bodyContainer">
		<a href="#showGroup" id="showGroup"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add Friend </a>

		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group"><a href="#" class="btn btn-default" style="float:left;">Groups</a></div>

			<div class="btn-group"><a href="/friends" class="btn btn-default btn-group active-btn" style="float:right;">Friends</a></div>
		</div>
		
		<br>
				
		<!-- COLLAPSABLE FORM FOR NEW FRIEND -->
		<div id="submenu" style="margin-bottom: 20px;">
			<form role="form" method="get" action="/addFriend">
			  <div class="form-group">
			    <label for="name">New Friend's Email/ID</label>
			    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
			  </div>
			  <input type="submit" id="submitBtn" class="btn btn-default" value="Add Friend"></input>
			</form>
		</div>
		<h3>Your Friends</h3>
		{{#each friends}}
		<div>
			<ul>
			<li>{{name}}</li>
			</ul>					
		</div>
		{{/each}}
	</div>

	<script src="js/jquery.js"></script> 
    <script src="js/bootstrap.min.js"></script>
	<script src="js/dropdown.js"></script>
	<script>
		$(document).ready(function() {
			$("#submenu").hide();
		});
		$("#showGroup").click(function(e) {
	        e.preventDefault();
	        $("#submenu").toggle();
	    });
    </script>
</body>
</html>