<!doctype html>
<!-- NO MORE -->
<html>
<head>
	<title>hangouts R us - Group Chat</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/sidebar.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- this is a comment in HTML -->    
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>
	<div id="wrapper">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div id="sidebar-wrapper">	
			<div class="sidebar-nav">
				<li><div id="profileName">
						<img align="middle" class="img-rounded" src="images/icson.jpg" onError="this.src='images/placeholder.png';"> </img>
					</div>
					<a id="sidebarName"> Cheese Corn</a>
				</li><hr>
				<li><a href="homepage">Home</a></li><hr>
				<li><a href="friends">Your Friends</a></li>
				<li><a href="gallery">Your Photos</a></li>
				<li><a href="viewGroups">Your Groups</a></li>
				<li><a href="upcomingEvents">Upcoming Events</a></li>
				<a href="#menu-toggle" id="menu2-toggle"> <button id="backButton" type="button" class="btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
					</span> Back</button></a>
				<a href="index"> <button id="logoutButton" type="button" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true">
					</span> Log Out</button></a>
			</div>
		</div> <!-- end of sidebar wrapper -->

		<div id="page-content-wrapper">
<!-- 			<a style = "position:absolute; top:15; left:15;" href="#menu-toggle" class="btn btn-default" id="menu-toggle">
				<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>    Toggle Menu
			</a> -->
			<div class="container-fluid">
<!-- 				<div class="jumbotron">
					<h1>Group Chats</h1>
				</div> -->
				<div class="miniNavBar">
					<table class="miniNavTable"> 
						<tr><td> <a href="#menu-toggle"  id="menu3-toggle"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							    Toggle Menu
							</a></td>
						</tr>
					</table>
				</div>
				<hr>
				<h2> People to chat with </h2>

				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Steve
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div>
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Kevin
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div>

			</div>
		</div>
	</div>

	 
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.js"></script>
	<script>
		$(document).ready(function() {
			$("#wrapper").toggleClass("toggled");
		});

		$("#showGroup").click(function(e) {
	        e.preventDefault();
	        $("#submenu").toggle();
	    });
	    $("#menu2-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
	     $("#menu3-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
    </script>
</body>
</html>