<!doctype html>

<html>
<head>
	<title>hangouts R us</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
 	<link href="css/style.css" rel="stylesheet">
 	<link href="css/photogallery.css" rel="stylesheet">
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css'>
	<link href="css/dropdown.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
	<style type="text/css">
	    a.fancybox img {
	        border: none;
	        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	    } 
	</style>
	<!-- this is a comment in HTML -->    
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1>hangouts R us</h1>
			<p>nothing to do? we got something for ya</p>
		</div>
		{{> dropdownPartial}}
	</div>

	<div class="bodyContainer">
		<div id='calendar'>
		</div>

		<div class="outershellGallery">
			{{#each groups2}}
				<div id= "{{id}}" style="margin-top:10px"  class="galleryscroll">
					<div class="innergalleryscroll">
					{{#each imageURL}}
						<img class="fancybox imageThumbnail" src="{{image}}">
					{{/each}}
					</div>
				</div>	
			{{/each}}
		</div>

	</div>
	

	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='fullcalendar/lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
	<script src="js/dropdown.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>

	<script type="text/javascript"> 
	    $(function($){
	        var addToAll = true;
	        var gallery = true;
	        var titlePosition = 'inside';
	        $(addToAll ? 'img' : 'img.fancybox').each(function(){
	            var $this = $(this);
	            var title = $this.attr('title');
	            var src = $this.attr('data-big') || $this.attr('src');
	            var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
	            $this.wrap(a);
	        });
	        if (gallery)
	            $('a.fancybox').attr('rel', 'fancyboxgallery');
	        $('a.fancybox').fancybox({
	            titlePosition: titlePosition
	        });
	    });
	    $.noConflict();
	</script>


	<script>
		$(document).ready(function() {
			{{#each groups2}}
				$("#{{id}}").hide();
			{{/each}}
			var starter = moment(event.start).format('YYYY-MM-DD HH:mm:ss');
			var defaultDateSetup = moment(event.start).format('YYYY-MM-DD');

			$('#calendar').fullCalendar({
        		// put your options and callbacks here
        		header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultDate: defaultDateSetup,
				defaultView: 'agendaDay',
				contentHeight: 400,
				eventClick: function(event) {
					var eventID = "#"+event.id;
					$('.outershellGallery').children().not(eventID).hide();
					var isHidden = $(eventID).is( ":hidden" );
					if(isHidden){
						$(eventID).show(); 
						if ($(eventID).is(':visible')) {
							$("html, body").animate({scrollTop: $(eventID).offset().top});
						}
					}else{
						$(eventID).toggle(); 
					}
					return false;
		    	},
		    	events: function (start, end, timezone, callback) {
		            $.ajax({
		                url: '/events.json',
		                type: "GET",
		                datatype: 'json',
		                success: function (doc) {
		                    var events = [];
		                    if ( doc != undefined && doc.length > 0) {
		                        doc.forEach(function ( newEntry ) {
		                            events.push({
		                            	id: newEntry.id,
		                                title: newEntry.title,
		                                start: newEntry.start,
		                                end: newEntry.end,
		                            });

		                        });
		                    }
		                    callback(events);
		                },error: function (err) {
		                    alert('Error in fetching data' + err);
		                }
		            });
		        }
    		});
		});
    </script>
</body>
</html>
