<!doctype html>

<html>
<head>
	<title>hangouts R us</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
 	<link href="css/style.css" rel="stylesheet">
 	<link href="css/photogallery.css" rel="stylesheet">
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css'>
	<link href="css/dropdown.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
	<style type="text/css">
	    a.fancybox img {
	        border: none;
	        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	    } 
	</style>
	<!-- this is a comment in HTML -->    
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1>hangouts R us</h1>
			<p>nothing to do? we got something for ya</p>
		</div>
		{{> dropdownPartial}}
	</div>

	<div class="bodyContainer">
		<div id='calendar'>
		</div>

		<div class="outershellGallery">
			<div id= "galleryscroll1" style="margin-top:10px"  class="galleryscroll">
					<div class="innergalleryscroll">
					{{#each image}}
						<img class="fancybox imageThumbnail" src="{{imageURL}}">
					{{/each}}
					</div>
			</div>	
			<div id= "galleryscroll2" style="margin-top:10px"  class="galleryscroll">
					<div class="innergalleryscroll">
					  {{#each image2}}
						<img class="fancybox imageThumbnail" src="{{imageURL}}">
					  {{/each}}	
					</div>
			</div>	
		</div>
	</div>
	

	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='fullcalendar/lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
	<script src="js/dropdown.js"></script>
	<script src="js/fancybox.js"></script>
	

	<script>
		$(document).ready(function() {
			$("#galleryscroll1").hide();
			$("#galleryscroll2").hide();
			var starter = moment(event.start).format('YYYY-MM-DD HH:mm:ss');
			var defaultDateSetup = moment(event.start).format('YYYY-MM-DD');

			$('#calendar').fullCalendar({
        		// put your options and callbacks here
        		customButtons: {
			        showGallery: {
			            text: 'gallery',
			            click: function() {
			                var moment = $('#calendar').fullCalendar('getDate');
    						alert("The current date of the calendar is " + moment.format()+"T10:30:00");
			            }
			        }
			    },
        		header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultDate: defaultDateSetup,
				defaultView: 'agendaDay',
				contentHeight: 400,
				eventClick: function(calEvent, jsEvent, view) {
					console.log('Clicked on ' + calEvent.title);
					console.log('Current view ' + view.name);
				},
				eventClick: function(event) {
					console.log(event.title);
		        	if (event.title == "Lunch") {
		        		$('.outershellGallery').children().not("#galleryscroll1").hide();
		        		var isHidden = $( "#galleryscroll1" ).is( ":hidden" );
		        		if(isHidden){
			            	$("#galleryscroll1").show(); 
			            	if ($("#galleryscroll1").is(':visible')) {
							     $("html, body").animate({scrollTop: $("#galleryscroll1").offset().top});
							  }
			        	}else{
			        		$("#galleryscroll1").toggle(); 
			        	}
			            return false;
		        	}
		        	else if( event.title == "Conference"){
		        		$('.outershellGallery').children().not("#galleryscroll2").hide();
		        		var isHidden = $( "#galleryscroll2" ).is( ":hidden" );
		        		if(isHidden){
			            	$("#galleryscroll2").show();
			            	if ($("#galleryscroll2").is(':visible')) {
							     $("html, body").animate({scrollTop: $("#galleryscroll2").offset().top});
							  } 
			        	}else{
			        		$("#galleryscroll2").toggle(); 
			        	}
			            return false;
		        	}
		    	},
		    	events: function (start, end, timezone, callback) {
		            $.ajax({
		                url: '/events.json',
		                type: "GET",
		                datatype: 'json',
		                success: function (doc) {
		                    var events = [];
		                    if ( doc != undefined && doc.length > 0) {
		                        doc.forEach(function ( newEntry ) {
		                            events.push({
		                                title: newEntry.title,
		                                start: newEntry.start,
		                                end: newEntry.end,
		                            });

		                        });
		                    }
		                    callback(events);
		                },error: function (err) {
		                    alert('Error in fetching data' + err);
		                }
		            });
		        }
			// 	events: [
			// 	{
			// 		title: 'All Day Event',
			// 		start: '2016-01-01'
			// 	},
			// 	{
			// 		title: 'Long Event',
			// 		start: '2016-01-07',
			// 		end: '2016-01-10'
			// 	},
			// 	{
			// 		id: 999,
			// 		title: 'Repeating Event',
			// 		start: '2016-01-09T16:00:00'
			// 	},
			// 	{
			// 		id: 999,
			// 		title: 'Repeating Event',
			// 		start: '2016-01-16T16:00:00'
			// 	},
			// 	{
			// 		title: 'Conference',
			// 		start: starter,
			// 		end: '2016-01-13',
			// 		//url: 'http://www.google.com'
			// 	},
			// 	{
			// 		title: 'Meeting',
			// 		start: '2016-01-12T10:30:00',
			// 		end: '2016-01-12T12:30:00'
			// 	},
			// 	{
			// 		title: 'Lunch',
			// 		start: '2016-02-08T12:00:00'
			// 	},
			// 	{
			// 		title: 'Meeting',
			// 		start: '2016-01-12T14:30:00'
			// 	},
			// 	{
			// 		title: 'Happy Hour',
			// 		start: '2016-01-12T17:30:00'
			// 	},
			// 	{
			// 		title: 'Dinner',
			// 		start: '2016-01-12T20:00:00'
			// 	},
			// 	{
			// 		title: 'Birthday Party',
			// 		start: '2016-01-13T07:00:00'
			// 	},
			// 	{
			// 		title: 'Click for Google',
			// 		url: 'http://google.com/',
			// 		start: '2016-01-28'
			// 	}
			// ]
			
    		});
		});
    </script>
</body>
</html>
