<!DOCTYPE html>
<html>
<head>
    <title> Hangouts R Us</title>
    {{> imports}}
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div id="main">
        <div class="header">
            <h1>Hangouts R Us</h1>
            <h2>Need help making plans? We know the struggle.</h2>
        </div>

		<style scoped>
	        .button-xsmall {font-size: 70%;}
	        .button-small {font-size: 85%;}
	    </style>

	    <h3 id="note">{{note}}</h3>

		<div class="row">

			<button class="optbtn regbtn">Register</button>

			<div class="center register">
				<div class="onehunnit col-md-6">
			        <form method="get" action ="/register" class="pure-form pure-form-stacked">
					    <fieldset>
					    	<div>
						        <input style="text-align:center"required="" name ="emailSign" id="emailSign" type="email" placeholder="Email">

						        <input style="text-align:center" required="" name="passwordSign" id="passwordSign" type="password" placeholder="Password">

						        <input style="text-align:center" required="" name="passwordSign2" id="passwordSign2" type="password" placeholder="Confirm Password">
					        </div>
					        <div style="padding-top:5px">
					       	 	<button type="submit" class="inputbtn">Register</button>
					    	</div>
					    </fieldset>
					</form>
				</div>
			</div>

			<button class="optbtn loginbtn"><name>Login</name></button>

        	<div class="center login">
			    <div class="onehunnit scol-md-6">
			        <form method="get" action = "/homepage2" class="pure-form pure-form-stacked">
					    <fieldset>
					        <input style="text-align:center" required="" id="email" type="email" name="email" placeholder="Email">

					        <input style="text-align:center" required="" id="password" type="password" name="password" placeholder="Password">

					        <label id="remme" for="remember" class="pure-checkbox">
					        <input id="remember" type="checkbox"> Remember Me
					        </label>

					        <button type="submit" class="inputbtn login2">Login</button></br></br>
					    </fieldset>
					</form>
				</div>
			</div>
		</div>
    </div> <!-- End of Main -->

    <script>

    	$(document).ready(function() {
			$(".login").hide();
			$(".register").hide();
		});

		$(".loginbtn").click(function(e) {
	        e.preventDefault();
	        $(".login").show();
	        $(".loginbtn").hide();
	        $(".register").hide();
	        $(".regbtn").show();
	    });

	    $(".regbtn").click(function(e) {
	        e.preventDefault();
	        $(".register").show();
	        
	        $(".regbtn").hide();
	        $(".login").hide();
	        $(".loginbtn").show();
	    });


    </script>
</body>
</html>

