<!DOCTYPE html>
<html>
<head>
    <title> Hangouts R Us</title>
    {{> imports}}
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div id="main">
        <div class="header">
            <h1>Hangouts R Us</h1>
            <h2>You have no idea what to do!</h2>
        </div>

		<style scoped>
	        .button-xsmall {font-size: 70%;}
	        .button-small {font-size: 85%;}
	    </style>

	    <h3 id="note" style="color:blue; text-align:center;">{{note}}</h3>

		 <div class="row">
		        	<div class="center">
					    <div class="col-md-6">
							<h2> Login </h2>
					        <form method="get" action = "/homepage" class="pure-form pure-form-stacked">
							    <fieldset>
							        <label for="email">Email</label>
							        <input required="" id="email" type="email" name="email" placeholder="Email">

							        <label for="password">Password</label>
							        <input required="" id="password" type="password" name="password" placeholder="Password">

							        <label for="remember" class="pure-checkbox">
							        <input id="remember" type="checkbox"> Remember me
							        </label>

							        <button type="submit" class="pure-button pure-button-primary">Login</button></br></br>
							    </fieldset>
							</form>
						</div>
					</div>
					<div class="center">
						<div class="col-md-6">
							<h2> Sign Up </h2>
					        <form method="get" action ="/register" class="pure-form pure-form-stacked">
							    <fieldset>
							    	<div>
								        <label for="email">Email</label>
								        <input required="" name ="emailSign" id="emailSign" type="email" placeholder="Email">

								        <label for="password">Password</label>
								        <input required="" name = "passwordSign" id="passwordSign" type="password" placeholder="Password">

								        <label for="password">Password (again) </label>
								        <input required="" name = "passwordSign2" id="password2Sign" type="password" placeholder="Password">
							        </div>
							        <div style="padding-top:5px">
							       	 	<button type="submit" class="pure-button pure-button-primary">Sign up</button>
							    	</div>
							    </fieldset>
							</form>
						</div>
					</div>
		</div>
    </div> <!-- End of Main -->
</body>
</html>

