<!DOCTYPE html>

<html>
<head>
	<title>hangouts R us - This Group</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/js/jquery-1.11.0.js"></script> 
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/groups.css" rel="stylesheet"> 
	<link href="/css/dropdown.css" rel="stylesheet">

	<!-- this is a comment in HTML -->    
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>
	<div id="wrapper">
		<div id="page-content-wrapper">

			<div class="container-fluid">
				<div class="jumbotron">
					<h1>{{groupName}}</h1>
				</div>
				{{> dropdownPartial}}

				<hr>
				<div>
					<ul class="listview">
						<li class="submenu"><a href="#">Members<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="float:right;"></a></li>
							<ul class="submenu">
								<li> {{members}} </li>
								<!-- <li>Diana</li>
								<li>Ivy</li>
								<li>Kathy</li> -->
								<!-- Make Edit Option elsewhere -->
								<li><a href="#" style="display:block;"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
							</ul>
						<li><a href="/upcomingEvents/{{groupName}}">Upcoming Events<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
						<li><a href="/planEvent" class="planEvent.html">Plan a New Event<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
						<li><a href="/gallery">Photos<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
						<li><a href="/upcomingEvents">Past Events<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></a></li>
						<li><a href="#"><span class="glyphicon glyphicon-remove"></span> Leave Group</a></li>
					</ul>				
				</div>

			</div>

		</div>
	</div>

	<script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
	<script src="../js/dropdown.js"></script>
	<script>
		$('li.submenu')
		.css({cursor: "pointer"})
		.on('click', function(){
		  $(this).next('ul').toggle();
		})

		$(document).ready(function() {
			$("#wrapper").toggleClass("toggled");
		});
		 
	     $("#menu2-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
	     $("#menu3-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
    </script>
</body>
</html>