<!doctype html>

<html>
<head>
	<title>hangouts R us - Plan an Event</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/sidebar.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->    
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>
	<div id="wrapper">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div id="sidebar-wrapper">	
			<div class="sidebar-nav">
				<li><div id="profileName">
						<img align="middle" class="img-rounded" src="images/icson.jpg" onError="this.src='images/placeholder.png';"> </img>
					</div>
					<a id="sidebarName"> Cheese Corn</a>
				</li><hr>
				<li><a href="homepage">Home</a></li><hr>
				<li><a href="friends">Your Friends</a></li>
				<li><a href="gallery">Your Photos</a></li>
				<li><a href="viewGroups">Your Groups</a></li>
				<li><a href="upcomingEvents">Upcoming Events</a></li>
				<a href="#menu-toggle" id="menu2-toggle"> <button id="backButton" type="button" class="btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
					</span> Back</button></a>
				<a href="index"> <button id="logoutButton" type="button" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true">
					</span> Log Out</button></a>
			</div>
		</div> <!-- end of sidebar wrapper -->

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="jumbotron">
					<h1>Plan an Event</h1>
				</div>
				<div class="miniNavBar">
					<table class="miniNavTable"> 
						<tr><td> <a href="#menu-toggle"  id="menu3-toggle"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							    Toggle Menu
							</a></td>
						</tr>
					</table>
				</div>
				<hr>

				<form id="planEventForm" role="form" method="get" action="/planEventResult">
				<h3>Suggest an event below</h3>
			    <div class="form-group">
			      <label for="title">What do you wanna do:</label>
			      <input type="text" class="form-control" id="title" placeholder="Example: go on a shopping spree" name="title">
			    </div>
			    <div class="form-group">
			      <label for="selectsquad">Choose your group:</label>
			      <input type="text" class="form-control" id="selectsquad" placeholder="Example: Trash Squad" name="group">
			    </div>
			    <div class="form-group">
			      <label for="plandate">When do you want to do it:</label>
			      <input type="text" class="form-control" id="plandate" placeholder="Example: February 29" name="when">
			    </div>
			    <input type="submit" id="submitBtn" class="btn btn-default" value="Suggest this event!"></input>
			</form>

			</div>
		</div>
	</div>

	 
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.js"></script>
	<script>
		$(document).ready(function() {
			$("#wrapper").toggleClass("toggled");
		});

		$("#showGroup").click(function(e) {
	        e.preventDefault();
	        $("#submenu").toggle();
	    });
	    $("#menu2-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
	     $("#menu3-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
    </script>
</body>
</html>