<!doctype html>

<html>
<head>
	<title>hangouts R us - Plan an Event</title>	
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/dropdown.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
<!-- 		<div class="jumbotron">
			<h1>Nicely done!</h1>
		</div> -->
		{{> dropdownPartial}}
	</div>
	<div class="bodyContainer">
		<h1>Success! Event's planned!</h1>
		<a href="/upcomingEvents" class="btn btn-info" role="button"><h4 style="color:white;">To see all planned events click me</h4></a>
	</div>

	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/dropdown.js"></script>
	<script src="js/introHCI.js"></script>
	{{> googleAnalytics}}
</body>
</html>