<!doctype html>

<html>
<head>
	<title>hangouts R us - Plan an Event</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/sidebar.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->    
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>
	<div id="wrapper">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div id="sidebar-wrapper">	
			<div class="sidebar-nav">
				<ul>
					<li><a>Welcome, [you]!</a></li><hr>
					<li><a href="homepage.html">Home</a></li>
					<li><a href="friends.html">Your Friends</a></li>
					<li><a href="gallery.html">Your Photos</a></li>
					<li><a href="viewGroups.html">Your Groups</a></li>
					<li><a href="groupchat.html">Group Chats</a></li>
					<li><a href="upcomingEvents.html">Upcoming Events</a></li>
					<li><a href="browseActivities.html">Browse Activities</a></li>
				</ul>
			</div>
			<a href="index.html"> <button id="logoutButton" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-off" aria-hidden="true">
			</span> Log Out</button></a>
		</div> <!-- end of sidebar wrapper -->

		<div id="page-content-wrapper">
			<a style = "position:absolute; top:15; left:15;" href="#menu-toggle" class="btn btn-default" id="menu-toggle">
				<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>    Toggle Menu
			</a>
			<div class="container-fluid">
				<div class="jumbotron">
					<h1>Nicely done!</h1>
				</div>
				<h1>Congrats! New Event is planned and your squad can now vote!</h1>
				<h3>What do you want to do now?</h3>
				<h4>To go the main page click <a href="/" class="btn btn-info" role="button">here</a></h4>
				<h4>To see upcoming events click <a href="/upcomingEvents" class="btn btn-info" role="button">here</a></h4>
				<br>
				<h1>By the way, Here is the list of all suggested events</h1>
				{{#each suggested_events}}
					<div>
						<h2>{{title}}</h2>
						<h3>{{group}}</h3>
						<h4>{{when}}</h4>
						
						
						<hr>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

	 
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.js"></script>
	<script>
		function hideDiv(){
		 	$("#wrapper").toggleClass("toggled");
		 }
		 window.onload = hideDiv; 
		 
	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
    </script>
</body>
</html>