<!doctype html>

<html>
<head>
	<title>hangouts R us - Upcoming Events</title>	
	{{> imports}}
</head>
<body>
	<div class="container-fluid">
		{{> dropdownPartial}}
	</div>

	<div class="bodyContainer">
		{{note}}
		<a href="/planEvent" style="margin-left: 12px; color:white;" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Plan a New Event!</a>		
		{{#each groups2}}
			<div class="col-md-12">
				<h2>{{title}}</h2><h4>{{when}}</h4> 
				<a href="viewEvent/{{title}}" class="btn btn-info col-md-3" style="color:white;">Details</a> 
			</div>
		{{/each}}
		
	</div>

	<script src="/js/introHCI.js"></script>
	<script>
		$(document).ready(function() {
			$(".rightDiv").hide();
			$("#planEvent").click(function(e) {
		        e.preventDefault();
		        $(".leftDiv").show();
		        $(".rightDiv").hide();
	    	});
	    	$("#suggestEvent").click(function(e) {
		        e.preventDefault();
		        $(".leftDiv").hide();
		        $(".rightDiv").show();
	    	});
	    });
    </script>
    {{> googleAnalytics}}
</body>
</html>