.scrollable {
	background-color: #f1f1f1;
	height:100px;
	overflow-y:scroll;
}

.listview {
	background-color: #D3DFE8;
	border: 3px solid #2F6E73;
	border-radius: 5px;
	list-style-type: none;
	margin-top: 20px;
	text-decoration: none;
}

.listview > li {
	border-top: 3px solid #2F6E73;
	list-style-type: none;
	margin-left: 0px;
	text-decoration: none;
	position:relative;
	display:block;
}

ul.listview > li:first-child {
	border-top: none;
	list-style-type: none;
	text-decoration: none;
}

.listview > li a{
	border: none;
	display: block;
	padding: 20px 40px;
}

#submenu {
	background-color: #D3F0F2;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 10px;
	position: relative;
}

.submenu {
	border-top: 1px solid #555;
	display: none;
	position: relative;
}

.submenu > li{
	background-color: #fff;
	border-top: 1px solid #555;
	list-style: none;
	padding: 10px;
	text-decoration: none;
	position:relative;
	display:block;
}

.newBtn {
	display: block;
	margin-bottom: 20px;
}

.cd-popup {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
 
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container > p {
	float:left;
}

.cd-buttons > li {
	background-color: #fff;
	border: 2px solid #555;
	list-style: none;
	margin: 0px 10px;
	padding: 10px;
	padding-right: 20px;
	text-decoration: none;
	position:relative;
	display: inline;
}

 
.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}
 
.is-visible .cd-popup-container {
    transform: translateY(0);
}

.active-btn {
	box-shadow: inset 0 0 0 1px #ffffff,inset 0 5px 30px #000;
}

#note {
    color: #424242;
    font-size: 18px;
    margin: auto;
    opacity: 0.9;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 70%;
}

#topinfo {
	display: block;
	margin: auto;
    text-align: center;
}

.optgroup {
	display: block;
	margin: 20px 10px;
	position: absolute;
	right: 3%;
}

.optbtn {
    background-color: #2F6E73;
    border: none;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 900;
    margin: 20px auto;
    padding: 15px 0px;
    width: 40%;
}

.cancel {
	background-color: #F23A3A;
    border: none;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 900;
    margin: 20px auto;
    padding: 15px 0px;
    width: 40%;
}









