.miniNavBarForGallery{
    padding-top: 20px;
}

.miniNavBarForGallery h1 {
    color: white;
    font-size: 36px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
}

.miniNavBarForGallery table, .miniNavBarForGallery td{
    width: 100%;
}
.miniNavBarForGallery tr{
    height: 50px;
}
.miniNavBarForGallery td, .miniNavBarForGallery p{
    color:white;
    text-align: left;
    text-shadow: 2px 2px 4px #000;
}
.thumbnail{
    min-height:100px;
}
@media only screen and (min-device-width: 350px) and (max-device-width: 667px){
    .miniNavBarForGallery h1{
        font-size: 20px;
    }
    .miniNavBarForGallery h3{
        font-size: 15px;
    }
    .galleryscroll{
        max-width: 370px;
        overflow-x: scroll;
        overflow-y: hidden;
        display: inline-block;
        width: 375px;
        height: 100px;
    }
    .imageThumbnail{
        width: 200px;
        height: 100%;
    }
}

.galleryscroll{
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-block;
    width: 100%;
    height: 130px;
    background-color: #c7ede4;
}
.innergalleryscroll{
    width: 5000px;
    max-height: 130px;
}
.outershellGallery{
    width:100%;
}
.imageThumbnail{
    width: 200px;
    max-height: 130px;
}
#submenu{
    margin-top: 5px;
    border: 1px solid;
    padding: 10px;
}

.storybtn {
    background-size: cover;
    background-position: center center; 
    border: 5px solid #2F6E73;
    display: block;
    font-size: 14px;
    font-weight: 900;
    padding: 10px 20px;
    width: 30%;
}

.uploadbtn {
    background-color: #2F6E73;
    border: none;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: 900;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 20%;
}






