body {
	background-color: #FFF;
	font-family: Century Gothic, sans-serif;
}
body a, a:hover, a:link, a:visited, a:active{
	text-decoration: none;
	color: black;
}
.jumbotron {
	background: url("../images/banner.jpg");
	background-size: 100%;
	margin-bottom: 0px;
}
.jumbotron h1, p {
	text-align: right;
	color: white;
}

hr{
	margin-top: 0.2em;
}
.rightMarg { margin-top: -7px; }
.groupDescrip{text-align: left;}

.groupRows a:link, a:visited, a:hover, a:active{text-decoration: none;}
.groupRows button{
	height: 2.15em;
	width: 100%;
}
.groupRows p{
	text-align: left;	
	color: black;
}

.groupRows2 a:link, a:visited, a:hover, a:active{text-decoration: none;}
.groupRows2 p{
	text-align: right;	
	color: black;
	word-wrap: break-word;
}

.tableContainer p{
	text-align: left;
	padding: 9px;
}
.imagetitlebar{
	display: block;
}

.bodyContainer{
	padding:20px;
}

#navTitle{
	border: none;
	color: white;
	font-family: Century Gothic, sans-serif;
	font-size: 26px;
	font-weight: 700;
}

.navList > li{
	font-size: 16px;
}

.navList {
	background-color: #fff;
}

.navbar {
	margin-bottom: 0px;
}

.container-fluid {
	background-color: #89E2E8;
}

.planbtn {
    background-color: #2F6E73;
    border: none;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 900;
    margin: 10px auto;
    padding: 10px 0px;
    width: 40%;
}

.detailbtn {
    background-color: #74C8CF;
    border: none;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 900;
    padding: 10px 0px;
    width: 30%;
}

.col-md-12{
	border: 5px solid #383838;
	margin: 10px;
	padding: 10px;
}

.col-md-12 h2, h4 {
	font-family: Century Gothic, sans-serif;
	font-weight: 600;
}








