body {background-color: #FFF;}
body a, a:hover, a:link, a:visited, a:active{
	text-decoration: none;
	color: black;
}
.jumbotron {
	background: url("../images/banner.jpg");
	background-size: 100%;
	margin-bottom: 0px;
}
.jumbotron h1, p {
	text-align: right;
	color: white;
}

hr{
	margin-top: 0.2em;
}
.rightMarg { margin-top: -7px; }
.groupDescrip{text-align: left;}

.groupRows a:link, a:visited, a:hover, a:active{text-decoration: none;}
.groupRows button{
	height: 2.15em;
	width: 100%;
}
.groupRows p{
	text-align: left;	
	color: black;
}

.groupRows2 a:link, a:visited, a:hover, a:active{text-decoration: none;}
.groupRows2 p{
	text-align: right;	
	color: black;
	word-wrap: break-word;
}

.tableContainer p{
	text-align: left;
	padding: 9px;
}
.imagetitlebar{
	display: block;
}



.bodyContainer{
	padding:20px;
}

#navTitle{
	color:white;
}

.navList a{
	font-size: 16px;
}
.navbar{
	margin-bottom: 0px;
}