body {background-color: #FFF;}
.jumbotron {
	background: url("../images/banner.jpg");
	background-size: 100%;
	margin-bottom: 0px;
}
.jumbotron h1, p {
	text-align: right;
	color: white;
}

hr{
	margin-top: 0.2em;
}
.rightMarg { margin-top: -7px; }
.groupDescrip{text-align: left;}

.groupRows a:link, a:visited, a:hover, a:active{text-decoration: none;}
.groupRows button{
	height: 2.15em;
	width: 100%;
}
.groupRows p{
	text-align: left;	
	color: black;
}

.groupRows2 a:link, a:visited, a:hover, a:active{text-decoration: none;}
.groupRows2 p{
	text-align: right;	
	color: black;
	word-wrap: break-word;
}

.tableContainer p{
	text-align: left;
	padding: 9px;
}
.imagetitlebar{
	display: block;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.bodyContainer{
	margin-top: 50px;
	padding:20px;
}

.navbar{
	height:40px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
	.navbar-header a{
		font-size: 13px;
		max-width: 90px;
		padding: 0px;
		padding-top: 5px;
		padding-left: 10px;
	}
	#titleBar{
		max-width: 110px;
		font-size: 14px;
		color: white;
	}
	.pull-right{
		padding-right: 10px;
	}
}
