.jumbotron {
     background: url("../images/lorempixel.jumbotron.jpeg");
}

.jumbotron h1, p {
	text-align: right;
}

.rightMarg { margin-top: -7px; }

#logoutButton {
	position: absolute;
	bottom: 0;
	width: 100%;

}