body {background-color: #FFF;}
.jumbotron {
	background: url("../images/banner.jpg");
	background-size: 100%;

}
.jumbotron h1, p {
	text-align: right;
}
.rightMarg { margin-top: -7px; }
.groupDescrip{text-align: left;}


.noob p{
	text-align: left;	
	color: black;
}

.noob2 p{
	text-align: right;	
	color: black;
}

.noob a:link, a:visited, a:hover, a:active{text-decoration: none;}
.noob2 a:link, a:visited, a:hover, a:active{text-decoration: none;}


.noob button{
	height: 2.15em;
	width: 100%;
}

.hoverBlue:hover {
	width: 90%;
	height:100%;
    opacity: 0.7;
    background-color: blue;
    color:white;
}
.tableContainer p{
	text-align: left;
	padding: 9px;
}
.hoverBlack:hover {
	width: 90%;
	height:100%;
    opacity: 0.7;
    background-color: black;
    text-align:center;
    color:white;
}
.hoverGreen:hover {
	width: 90%;
	height:100%;
    opacity: 0.7;
    background-color: green;
    text-align:center;
    color:white;
}




