.jumbotron {
     background: url("../images/lorempixel.jumbotron.jpeg");
}

.jumbotron h1, p {
	text-align: right;
}

.rightMarg { margin-top: -7px; }

#logoutButton {
	position: absolute;
	bottom: 0;
	width: 100%;

}

.noob p{
	text-align: left;	
	color: black;
}

.noob2 p{
	text-align: right;	
	color: black;
}

.noob a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.noob2 a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.groupDescrip{
	text-align: left;
}

.noob button{
	height: 2.15em;
	width: 100%;
}
